In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os
import joblib

In [3]:
# Adiciona a pasta src no path
sys.path.append(os.path.abspath('../src'))

In [4]:
from model import load_data, prepare_data, train_model, evaluate_model

In [5]:
# Carrega os dados usando a função que você fez
df = pd.read_csv('../data/clientes_com_features.csv')

df.head()

,order_id,customer_id,order_date,order_value,category,bought_again_90d,order_month,weekday,order_value_avg,total_gasto_cliente,total_pedidos_cliente,diff_days,freq_media_dias_cliente,num_categorias_cliente
0,928,1,2023-03-28,124.88,Fashion,0,3,Tuesday,224.0275,1792.22,8,NaN,89.571429,5
1,138,1,2023-06-28,363.44,Home,0,6,Wednesday,224.0275,1792.22,8,92.0,89.571429,5
2,742,1,2023-08-10,170.32,Electronics,1,8,Thursday,224.0275,1792.22,8,43.0,89.571429,5
3,491,1,2024-01-09,149.28,Electronics,0,1,Tuesday,224.0275,1792.22,8,152.0,89.571429,5
4,826,1,2024-01-22,218.13,Electronics,0,1,Monday,224.0275,1792.22,8,13.0,89.571429,5

In [6]:
X_train, X_test, y_train, y_test = prepare_data(df)

In [7]:
model = train_model(X_train, y_train)

In [11]:
evaluate_model(model, X_test, y_test)

Acurácia: 0.7167

0.7166666666666667

In [8]:
# Salva o modelo na pasta artefatos
import os
os.makedirs('artefatos', exist_ok=True)
joblib.dump(model, 'artefatos/modelo.pkl')

print('Modelo salvo em artefatos/modelo.pkl')

Modelo salvo em artefatos/modelo.pkl